<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>GameSpace | Our Team</title>
    <!-- CSS only -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/css/blog.css"
    />
  </head>

  <body>
    <article class="team-article">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="team-title">Meet Our Team</h1>
            <p class="team-description">
              Our team consists of four members (friends) and we are all alumni
              of IIT Guwahati.
            </p>
            <div class="team-members">
              <div class="team-member">
                <div class="member-top">
                  <img
                    src="/img/profile.jpg"
                    alt=""
                  />
                </div>
                <div class="member-bottom">
                  <span class="member-name">Vijay Jangal</span>
                  <div class="team-links">
                    <a
                      href="https://www.linkedin.com/in/vijay-jangal"
                      class="badge badge-pill badge-primary"
                      >Linkedin</a
                    >
                    <a
                      href="https://github.com/Vsjangal"
                      class="badge badge-pill badge-dark"
                      >GitHub</a
                    >
                  </div>
                </div>
              </div>
              <div class="team-member">
                <div class="member-top">
                  <img
                    src="/img/siddu.png"
                    alt=""
                  />
                </div>
                <div class="member-bottom">
                  <span class="member-name">Siddharth Charan</span>
                  <div class="team-links">
                    <a
                      href="https://www.linkedin.com/in/siddharth-charan/"
                      class="badge badge-pill badge-primary"
                      >Linkedin</a
                    >
                    <a
                      href="https://github.com/Siddharth2808/"
                      class="badge badge-pill badge-dark"
                      >GitHub</a
                    >
                  </div>
                </div>
              </div>
              <div class="team-member">
                <div class="member-top">
                  <img
                    src="/img/rishav.png"
                    alt=""
                  />
                </div>
                <div class="member-bottom">
                  <span class="member-name">Rishav Mondal</span>
                  <div class="team-links">
                    <a
                      href="https://www.linkedin.com/in/rishav-mondal-683b68196/"
                      class="badge badge-pill badge-primary"
                      >Linkedin</a
                    >
                    <a
                      href="https://github.com/"
                      class="badge badge-pill badge-dark"
                      >GitHub</a
                    >
                  </div>
                </div>
              </div>
              <div class="team-member">
                <div class="member-top">
                  <img
                    src="/img/shrey.png"
                    alt=""
                  />
                </div>
                <div class="member-bottom">
                  <span class="member-name">Shrey Verma</span>
                  <div class="team-links">
                    <a
                      href="https://www.linkedin.com/in/shrey-verma259/"
                      class="badge badge-pill badge-primary"
                      >Linkedin</a
                    >
                    <a
                      href="https://github.com/shreyv25"
                      class="badge badge-pill badge-dark"
                      >GitHub</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
