
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/solver.css"> </link>

<div style="color: white;" class="container">Input:</div>
<br><br>


<div class="board">
<table>
        <tr>
            <td class="cell"  id="0" onClick="reply_click(this.id)"></td>
            <td class="cell" id="1"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="2"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="3"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="4"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="5"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="6"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="7"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="8"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="9" onClick="reply_click(this.id)"></td>
            <td class="cell" id="10"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="11"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="12"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="13"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="14"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="15"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="16"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="17"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="18"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="19"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="20"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="21"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="22"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="23"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="24"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="25"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="26"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="27"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="28"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="29"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="30"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="31"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="32"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="33"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="34"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="35"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="36"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="37"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="38"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="39"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="40"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="41"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="42"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="43"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="44"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="45"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="46"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="47"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="48"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="49"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="50"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="51"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="52"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="53"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="54"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="55"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="56"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="57"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="58"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="59"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="60"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="61"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="62"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="63"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="64"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="65"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="66"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="67"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="68"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="69"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="70"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="71"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="72"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="73"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="74"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="75"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="76"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="77"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="78"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="79"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="80"  onClick="reply_click(this.id)"></td>
        </tr>
    </table>
</div>

    <br><br>
    <div class="container">
        <btn class="btn btn-outline-warning" id="solve-button"  onClick="reply_click(this.id)" data-container="body" data-toggle="popover" data-placement="top">
            Solve
        </btn>
    </div>
    
    <br><br>

    

    <div class="container" id="result"> </div>
    <div id="nosol"></div>
    <br><br>
    <div class="container" style="color: white;"> Solution: </div>
    <br><br>
    <div class="board">
    <table>
        <tr>
            <td class="cell"  id="100" onClick="reply_click(this.id)"></td>
            <td class="cell" id="101"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="102"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="103"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="104"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="105"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="106"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="107"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="108"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="109" onClick="reply_click(this.id)"></td>
            <td class="cell" id="110"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="111"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="112"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="113"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="114"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="115"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="116"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="117"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="118"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="119"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="120"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="121"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="122"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="123"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="124"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="125"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="126"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="127"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="128"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="129"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="130"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="131"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="132"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="133"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="134"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="135"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="136"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="137"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="138"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="139"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="140"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="141"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="142"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="143"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="144"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="145"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="146"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="147"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="148"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="149"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="150"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="151"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="152"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="153"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="154"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="155"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="156"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="157"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="158"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="159"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="160"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="161"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="162"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="163"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="164"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="165"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="166"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="167"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="168"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="169"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="170"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="171"  onClick="reply_click(this.id)"></td>
        </tr>
        <tr>
            <td class="cell" id="172"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="173"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="174"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="175"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="176"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="177"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="178"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="179"  onClick="reply_click(this.id)"></td>
            <td class="cell" id="180"  onClick="reply_click(this.id)"></td>
        </tr>
    </table>
</div>
    

    <div id="result"></div>
    <script src="/javascript/sudoku/solver.js" charset="utf-8"></script>