<!-- <div style="color: black; display: flex; justify-content: center;margin-top:50px;">
    Vijay jangal<br>
    Siddharth Charan<br>
    Shrey Verma<br>
    Rishav Mondal<br>
</div> -->
<link
  rel="stylesheet"
  href="/css/about.css"
/>
<div class="cool-list">
  <div class="cool-item">Vijay Jangal</div>
  <div class="cool-item">Siddharth Charan</div>
  <div class="cool-item">Shrey Verma</div>
  <div class="cool-item">Rishav Mondal</div>
</div>
