<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="/css/home.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="/css/chat_box.css"
    /> -->
    <title>Home Page</title>
  </head>

  <body>
    <div class="container1">
      <div class="jumbotron">
        <h1 style="font-family: Roboto; text-align: center">
          Welcome to the GameSpace!!
        </h1>
        <h4 style="font-family: Roboto; text-align: center">
          Here we have a number of curated games for you to enjoy!!
        </h4>
        <div class="pair">
          <div class="card">
            <img
              class="card-img-top"
              src="/img/chessboard.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <div class="card-body-div">
                <h5 class="card-title">Chess</h5>
                <p class="card-text">Play chess in player-vs-computer mode.</p>
              </div>
              <a
                href="/chess/home"
                class="btn btn-primary"
                >Play!</a
              >
            </div>
          </div>

          <div class="card">
            <img
              class="card-img-top"
              src="/img/tic-tac-toe.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <div class="card-body-div">
                <h5 class="card-title">Tic-Tac-Toe</h5>
                <p class="card-text">Play this fun game.</p>
              </div>
              <a
                href="/tic-tac-toe/home"
                class="btn btn-primary"
                >Play!</a
              >
            </div>
          </div>
        </div>
        <div class="pair">
          <div class="card">
            <img
              class="card-img-top"
              src="/img/minesweeper.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <div class="card-body-div">
                <h5 class="card-title">Minesweeper</h5>
                <p class="card-text">
                  Can you prove that this game requires skill not fortune.
                </p>
              </div>
              <a
                href="/minesweeper/home"
                class="btn btn-primary"
                >Play!</a
              >
            </div>
          </div>

          <div class="card">
            <img
              class="card-img-top"
              src="/img/sudoku.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <div class="card-body-div">
                <h5 class="card-title">Sudoku</h5>
                <p class="card-text">Test your logic, play this Game.</p>
              </div>
              <a
                href="/sudoku/home"
                class="btn btn-primary"
                >Play!</a
              >
            </div>
          </div>
        </div>

        <div class="pair">
          <div class="card">
            <img
              class="card-img-top"
              src="/img/2048_pic.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <div class="card-body-div">
                <h5 class="card-title">2048</h5>
                <p class="card-text">
                  Ready to play one of the most addictive math puzzle games of
                  all time?
                </p>
              </div>
              <a
                href="/2048/home"
                class="btn btn-primary"
                >Play!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

