.nav-item1 {
  border: 2px solid white;
  border-radius: 24px;
  margin-right: 20px;
  color: black;
  padding: 0 10px;
}

#layout-header {
  min-width: 100vw;
}
#layout-header nav {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: sticky;
  background-color: rgb(11 11 101);
  min-width: 100vw;
}

#layout-header nav .mini-logo p {
  margin: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}
#layout-header nav .auth-links ul {
  margin: 5% 5px;
  display: flex;
}
#layout-header nav .auth-links ul li {
  margin-right: 10px;
}
#layout-header nav a {
  color: white;
  text-decoration: none;
}

.navbar-nav li {
  margin-right: 10px;
}