.jumbotron{
    background-image: url("/img/back2.jpg");
    background-size: 900px 4300px;
 }


.card{
}
.pair
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
}