body{
  min-width: 100vw;
  /* overflow-x: hidden; */
}
#layout-main {
  background-color: white;
  color: black;
  display: block;
  min-height: 75%;
}
footer {
  background-color: rgb(15, 15, 55);
  position: relative;
  display: block;
  left: 0;
  bottom: 0;
  width: 100vw;
}
