html, body {
    height: 100%;
    
    /* background-image: url('/img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  }
#layout-main{
  background-color: rgb(49, 46 ,43);
    display: block;
    min-height: 65%;
    
} 
footer{
    position:relative;
    display: block;
 
  left: 0;
  bottom: 0;
  width: 100%;}