html, body {
    height: 100%;
  }
#layout-main{
margin-bottom: 100px;
    display: block;
    min-height: 100%;
    margin-bottom: 50px; 

 
} 
footer{
    position:relative;
    display: block;
 
  left: 0;
  bottom: 0;
  width: 100%;}